*{
    margin:0px;
    padding: 0px;
    font-size: 20px;
}
.caja{
    background-color: coral;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: .5rem;
    padding: .5rem;
}

#posRelative{
    position: relative;
    background-color: blue;
    top: 20px;
}
/* TODO ES ESTATICO POR PREDET */
#posStatic{
    position: static;
    background-color: blue;
    top: 20px;
    left: 30px;

}

#posFixed{
    position: fixed;
    background-color: green;
    top: 20px;
    left: 30px;
}

#posAbsolute{
    position: absolute;
    background-color: red;
    top: 15px;
    left: 15px;
}
